<div class="fixed-width">
    <div class="mt-4 mb-2 h-20 border-2 border-gray-300 bg-gray-100 flex items-center justify-between">
        <div class="flex">
            <div class="bg-gray-200 border-2 border-gray-300 h-16 w-16 ml-2 cursor-pointer flex items-center justify-center">
                <span class="text-red-600 text-xl font-bold">{{ (game.numMines - game.numFlags) || 0 }}</span>
            </div>
            <div class="bg-gray-200 border-2 border-gray-300 h-16 w-16 ml-2 cursor-pointer flex items-center justify-center">
                <i class="text-4xl text-gray-700 rounded-full fas fa-cog"></i>
            </div>
        </div>
        <div class="bg-gray-200 border-2 border-gray-300 h-16 w-16 cursor-pointer flex items-center justify-center"
            (click)="newGame()">
            <i class="text-4xl bg-yellow-200 text-black rounded-full far"
                [ngClass]="{'fa-smile': (game.face === 'HAPPY'),
                            'fa-frown': (game.face === 'SAD'),
                            'fa-laugh-beam': (game.face === 'EXCITED')}">
            </i>
        </div>
        <div class="flex">
            <div class="bg-gray-200 border-2 border-gray-300 h-16 w-16 ml-2 cursor-pointer flex items-center justify-center">
                <span class="text-red-600 text-xl font-bold">00:00</span>
            </div>
            <div class="bg-gray-200 border-2 border-gray-300 h-16 w-16 ml-1 mr-2 cursor-pointer flex items-center justify-center"
            (click)="!saveMode ? goToSaveMode() : restartSaveMode()">
            <i class="text-4xl fas"
                [ngClass]="{'fa-times-circle': saveMode,
                            'text-red-800': saveMode,
                            'fa-save': !saveMode,
                            'text-green-400': !saveMode }">
            </i>
        </div>
        </div>
    </div>
    <div *ngIf="saveMode" class="flex flex-row justify-between items-center h-20 pt-2 pb-4">
        <div class="flex">
            <span class="font-semibold text-blue-500">Please, type a name for the game:</span>
        </div>
        <div class="flex">
            <div class="w-24">
                <input type="text" class="field" [(ngModel)]="gameNameToSave" #ctrl="ngModel">
            </div>
            <div class="ml-2">
                <button (click)="saveGame()" class="btn btn-blue">
                    <i class="fas fa-check-circle"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-10 gap-0" *ngIf="show">
        <div *ngFor="let row of game.board">
            <div *ngFor="let col of row">
                <div class="border-2 border-gray-300 text-center cursor-pointer h-12 flex items-center justify-center"
                    [ngClass]="{'bg-gray-200': col.opened, 'bg-gray-100': !col.opened, 'bg-red-600': col.wrong}"
                    (click)="revealSquare(col)"
                    (contextmenu)="flagSquare($event, col)">
                    <div *ngIf="col.flag === 'FLAG'">
                        <i class="fas fa-flag text-red-800"></i>
                    </div>
                    <div *ngIf="col.flag === 'QUESTION'">
                        <i class="fas fa-question"></i>
                    </div>
                    <div *ngIf="col.flag === 'NONE' && col.opened">
                        <div *ngIf="col.type === 'MINE'">
                            <i class="fas fa-bomb"></i>
                        </div>
                        <div *ngIf="col.type === 'NUMBER' && col.value !== 0">
                            <span class="text-xl font-bold"
                                    [ngClass]="{'1':'text-blue-600',
                                                '2':'text-green-600',
                                                '3':'text-red-600',
                                                '4':'text-blue-900',
                                                '5':'text-red-900',
                                                '6':'text-green-900',
                                                '7':'text-pink-500',
                                                '8':'text-yellow-600'} [col.value]">
                                {{col.value}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
