<div class="px-60">
    <div class="my-4 h-20 border-2 border-gray-300 bg-gray-100 flex items-center justify-between">
        <div class="bg-gray-200 border-2 border-gray-300 h-16 w-16 ml-2 cursor-pointer flex items-center justify-center">
            <span class="text-red-600 text-xl font-bold">00:00</span>
        </div>
        <div class="bg-gray-200 border-2 border-gray-300 h-16 w-16 cursor-pointer flex items-center justify-center"
            (click)="newGame()">
            <i class="text-4xl bg-yellow-200 text-black rounded-full"
                [ngClass]="(game.happy) ? 'far fa-smile':'far fa-frown'">
            </i>
        </div>
        <div class="bg-gray-200 border-2 border-gray-300 h-16 w-16 mr-2 cursor-pointer flex items-center justify-center"
            (click)="goToSaveMode()">
            <i class="text-4xl text-green-400 fas fa-save">
            </i>
        </div>
    </div>
    <div *ngIf="saveMode" class="flex flex-start items-center h-12">
        <div>
            <span class="font-semibold text-blue-500">Please, type a name for the game:</span>
        </div>
        <div class="ml-2">
            <input type="text" class="field" [(ngModel)]="gameNameToSave" #ctrl="ngModel">
        </div>
        <div class="ml-2">
            <button (click)="saveGame()" class="btn btn-blue">
                <i class="fas fa-check-circle"></i>
            </button>
        </div>
    </div>
    <div class="grid grid-cols-10 gap-0" *ngIf="show">
        <div *ngFor="let row of game.board">
            <div *ngFor="let col of row">
                <div class="border-2 border-gray-300 text-center cursor-pointer h-12 flex items-center justify-center"
                    [ngClass]="{'bg-gray-200': col.opened, 'bg-gray-100': !col.opened, 'bg-red-600': col.wrong}"
                    (click)="revealSquare(col)"
                    (contextmenu)="flagSquare($event, col)">
                    <div *ngIf="col.flag === 'FLAG'">
                        <i class="fas fa-flag text-red-800"></i>
                    </div>
                    <div *ngIf="col.flag === 'QUESTION'">
                        <i class="fas fa-question"></i>
                    </div>
                    <div *ngIf="col.flag === 'NONE' && col.opened">
                        <div *ngIf="col.type === 'MINE'">
                            <i class="fas fa-bomb"></i>
                        </div>
                        <div *ngIf="col.type === 'NUMBER' && col.value !== 0">
                            <span class="text-xl font-bold"
                                    [ngClass]="{'1':'text-blue-600',
                                                '2':'text-green-600',
                                                '3':'text-red-600',
                                                '4':'text-blue-900'} [col.value]">
                                {{col.value}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
